<div class="modal-main-left">
  <div class="thumbnail_film">
    {{#if poster_path}}
    <img src="https://image.tmdb.org/t/p/original{{poster_path}}" data-id={{id}} alt="{{title}}" />
    {{else}}
    <img data-id={{id}} src="https://dummyimage.com/400x600/cfcfcf/ffffff&text=NO+IMAGE+AVAILABLE" alt="{{title}}" />
    {{/if}}
  </div>
</div>
<div class="modal-main-right">
  <h2>{{title}}</h2>
  <ul class="modal-film-info">
    <li>
      <div>Vote / Votes</div>
      <div><span class="modal-vote">{{vote_average}}</span> <span>/</span> {{vote_count}}</div>
    </li>
    <li>
      <div>Popularity</div>
      <div>{{popularity}}</div>
    </li>
    <li>
      <div>Original Title</div>
      <div>{{original_title}}</div>
    </li>
    <li>
      <div>Genre</div>
      <div>{{genres}}</div>
    </li>
  </ul>
  <div class="title">About </div>
  <div class="discription">
    {{overview}}
  </div>
  <div class="modal-btns">
    <button class="modal-btns-left" id="test-anton">Add to watched</button>
    <button class="modal-btns-add-to-queue">Add to Queue</button>
  </div>
</div>